.add-button {
    position: fixed !important;
    bottom: 50px;
    right: 25px;
    z-index: 2;
}
.typo-task {
    border-bottom:1px solid #e2e2e2 ;
}
.typo {
    padding: 15px 25px 15px 25px;
    display: flex;
}
.typo :first-child {
    padding-right: 5px;
}