.wrap-sign-in {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 35%;
    flex-direction: column;
}
.text-sign-in {
    padding-bottom: 18px !important;
}
.title-sign-in div {
    font-size: 40px;
}
.title-sign-in {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.wrap-s-i {
    display: flex;
    justify-content: center;
}
.sign-in-card {
    width: 50%;
    display: flex;
    justify-content: center;
}