.title {
    font-size: 19px !important;
}
.count-tasks {
    font-size: 14px !important;
    opacity: 0.8 !important;
}
.cards-wrap {
    margin: 30px;
    border-radius: 30px !important;
}
.typography-wrap {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
}